
.vs/Primal/v17/Solution.VC.db-wal
.vs/Primal/FileContentIndex/15300f21-224b-46fb-9cdf-3cb1bf2cb5e2.vsidx
.vs/Primal/FileContentIndex/70fae797-23e3-4f4d-b8dc-a41938bda19d.vsidx
.vs/Primal/FileContentIndex/751a5a2e-adc6-439f-933d-1d1033025bef.vsidx
.vs/Primal/FileContentIndex/e37e8cbd-69ef-43a3-8037-139f106d6847.vsidx
.vs/Primal/FileContentIndex/read.lock
.vs/Primal/v17/.suo
.vs/Primal/v17/Browse.VC.db
.vs/Primal/v17/Browse.VC.db-shm
.vs/Primal/v17/Browse.VC.db-wal
.vs/Primal/v17/Browse.VC.opendb
.vs/Primal/v17/ipch/8fbc1c2a8f341087.ipch
.vs/Primal/v17/Solution.VC.db
.vs/Primal/v17/Solution.VC.db-shm
